.loading {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  opacity: 1;
  animation: fade 1s ease-out;
}

.wrapper {
  position: sticky;
  backdrop-filter: saturate(40%);
  background-color: whitesmoke;
  height: 100vh;
  width: 100vw;
  color-scheme: light dark;
}

.container {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  opacity: 1;
  animation: fade 1s ease-out;
}

.container > h2 {
  margin-top: initial;
}

.logo > img {
  max-height: 200px;
  max-width: 200px;
}

.single {
  position: initial;
  height: initial;
  width: initial;
}

.single > .container {
  padding-top: initial;
  width: max-content;
}

.main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;
  padding: 24px 14px;
  width: 384px;
  height: fit-content;
  border: solid 2px #999;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.single > .main {
  position: initial;
  transform: initial;
  top: initial;
  left: initial;
}

.banner {
  padding-top: 8px;
  font-size: small;
  color: #999;
}

.prevIdpHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.prevIdp {
  padding: 8px;
  border: solid #999 2px;
  border-radius: 4px;
  font-size: large;
}

.input {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  border: solid #ddd 2px;
  border-radius: 6px;
}

.input > input,
.input > button {
  padding: 8px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: large;
}

.input > input {
  flex: 1;
  border-bottom-right-radius: initial;
  border-top-right-radius: initial;
}

.input > button {
  padding: 8px 12px;
  background-color: #7340ff;
  color: white;
  border-bottom-left-radius: initial;
  border-top-left-radius: initial;
}

.input > button:hover {
  opacity: 0.5;
}

.clear {
  align-self: center;
  background-color: initial;
  border: none;
  color: #999;
}

.remember {
  padding: 8px;
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: large;
}

.noRemember {
  border: none;
  background-color: initial;
}

.error {
  color: red;
  font-size: small;
  opacity: 1;
  animation: fade 1s linear;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .wrapper {
    background-color: #454545;
    color: whitesmoke;
  }

  .main {
    background-color: #333;
  }
}

@media (max-width: 768px) {
  .container {
    padding-top: 40px;
    gap: 8px;
    width: 100%;
  }

  .container > h2 {
    margin: initial;
  }

  .main {
    width: initial;
    margin: 16px;
    padding: 14px;
  }

  .logo > img {
    max-height: 120px;
    max-width: 120px;
  }
}
